@import "tailwindcss";

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-primary: oklch(58.41% 0.232 283.19);
  --color-text-gray: oklch(52.78% 0.037 304.86);
  --color-text-black: oklch(23.51% 0.029 313.23);
  --color-bg-gray-100: oklch(98.81% 0.000 0);
  --color-border-gray-100: oklch(67.60% 0.032 310.00);
  --color-dark: oklch(22.64% 0.000 0);
  --color-dark-200: oklch(22.64% 0.000 0);
  --color-dark-bg: #121212;
  --color-dark-bg-secondary: #131313;
  --color-white: oklch(100% 0 0);
}

/* Dark mode color overrides */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --color-text-black: oklch(98.81% 0.000 0);
    --color-bg-gray-100: oklch(22.64% 0.000 0);
    --color-border-gray-100: oklch(32.547% 0.01553 312.9 / 0.5);
    color-scheme: dark;
  }
}

/* Manual dark theme override */
:root[data-theme="dark"] {
  --color-text-black: oklch(98.81% 0.000 0);
  --color-bg-gray-100: oklch(22.64% 0.000 0);
  --color-border-gray-100: oklch(40.697% 0.03078 311.265 / 0.497);
  color-scheme: dark;
}

/* Manual light theme override */
:root[data-theme="light"] {
  --color-primary: oklch(58.41% 0.232 283.19);
  --color-text-gray: oklch(52.78% 0.037 304.86);
  --color-text-black: oklch(23.51% 0.029 313.23);
  --color-bg-gray-100: oklch(98.81% 0.000 0);
  --color-border-gray-100: oklch(77.311% 0.00009 271.152 / 0.513);
  --color-dark: oklch(22.64% 0.000 0);
  color-scheme: light;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.shadow-input-active {
  box-shadow: 0 4px 10px 0 rgba(157, 146, 166, 0.20);
}

.react-calendar {
	width: 100%;
	max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
	background: inherit;
  	color: inherit;
	padding: 10px;
  	border-block: 1px solid #99999921;
}
.react-calendar--doubleView {
	width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
	display: flex;
	margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
	width: 50%;
	margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.react-calendar button {
	width: 20px;
	margin: 0;
	border: 0;
	outline: none;
}
.react-calendar button:enabled:hover {
	cursor: pointer;
}
.react-calendar__navigation {
	display: flex;
    gap: 4px;
	height: 22px;
	margin-bottom: 1em;
    font-weight: 600;
}
.react-calendar__navigation button {
	width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
}
.react-calendar__navigation button:disabled {
	background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover abbr,
.react-calendar__navigation button:enabled:focus abbr {
	background-color: #7ec01485;
}
.react-calendar__navigation__arrow {
    background-color: #222;
    color: white;
}
.react-calendar__tile.dotted {
	color: #222;
}
.react-calendar__month-view__weekdays {
	text-align: center;
	text-transform: uppercase;
	color: #717172;
	font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
	padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.5em;
	font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
	color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
	color: #cdcdcd;
}
.react-calendar__navigation button.react-calendar__navigation__prev2-button,
.react-calendar__navigation button.react-calendar__navigation__next2-button {
    display: none;
}
.react-calendar__tile {
	margin: 1px 0 !important;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
	padding: 3em 0.5em;
}
.react-calendar__tile {
	width: 30px;
	margin-inline: auto;
	padding: 5px;
	background: none;
	text-align: center;
	line-height: 16px;
	border-radius: 2px;
}
.react-calendar__tile:disabled {
	background-color: #bc9c9c;
	color: #171E22;
}
.react-calendar__tile:enabled:hover abbr,
.react-calendar__tile:enabled:focus abbr {
	background-color: #11111150;
}
.react-calendar__tile abbr {
    padding: 4px 8px;
    border-radius: 20px;
}
.react-calendar__tile--now abbr {
    padding: 4px 8px;
	background: #222;
  	color: #ffffff;
    border-radius: 20px;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	background: #ffffa9;
}
.react-calendar__tile--hasActive {
	background: #76baff;
  	color: #171E22;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
	background: #a9d4ff;
}
.react-calendar__tile--active {
	background: #22222250;
	color: white;
}
.react-calendar__tile--range {
	background: #2221F;
	color: #222;
	border-radius: 0px;
}
.react-calendar__tile--rangeStart abbr {
	background: #222;
	color: white;
}
.react-calendar__tile--rangeStart {
	background: #2221F; 
	color: white;
	border-top-left-radius: 32px;
	border-bottom-left-radius: 32px;
    width: 50%;
    margin-left: auto;
}
.react-calendar__tile--rangeEnd abbr {
	background: #222;
	color: white;
}
.react-calendar__tile--rangeEnd {
	background: #2221F; 
	color: white;
	border-top-right-radius: 32px;
	border-bottom-right-radius: 32px;
    width: 50%;
    margin-left: auto;
}
/*  */